/*

!/topics
!/tests
!/.github
!/bin
!/changes
!/dev

/.claude/settings.local.json

!CHANGES
!CHANGES.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!CLAUDE.md
!GITHUB.md
!INSTALL
!LICENSE
!MANIFEST
!MANIFEST.SKIP
!META.json
!META.yml
!Makefile.PL
!README
!README.md
!RELEASE.md
!VENUS.md
!VERSION
!cpanfile

!.ctags
!.editorconfig
!.gitattributes
!.gitignore
!.gitlab-ci.yml
!.mailmap
!.perlcriticrc
!.perltidyrc
!.replyrc
!.vns.pl